
<h1><%= @planet["name"] %></h1>
	<ul>
		<li>Rotation Period: <%= @planet["rotation_period"]%></li>
		<li>Orbital Period: <%= @planet["orbital_period"]%></li>
		<li>Diameter: <%= @planet["diameter"]%></li>
		<li>Climate: <%= @planet["climate"]%></li>
		<li>Gravity: <%= @planet["gravity"]%></li>
		<li>Terrain: <%= @planet["terrain"]%></li>
		<li>Surface Water: <%= @planet["surface_water"]%></li>
		<li>Population: <%= @planet["population"]%></li>
	</ul>

<h1><%= @starship["name"] %></h1>
	<ul>
		<li>Model: <%= @starship["model"]%></li>
		<li>Manufacturer: <%= @starship["manufacturer"]%></li>
		<li>Cost: <%= @starship["cost_in_credits"]%></li>
		<li>Length: <%= @starship["length"]%></li>
		<li>Max Atmosphering Speed: <%= @starship["max_atmosphering_speed"]%></li>
		<li>Crew: <%= @starship["crew"]%></li>
		<li>Passengers: <%= @starship["passengers"]%></li>
		<li>Consumabes: <%= @starship["consumables"]%></li>
		<li>Hyperdrive Rating: <%= @starship["hyperdrive_rating"]%></li>
		<li>Starship Class: <%= @starship["starship_class"]%></li>
	</ul>

<h1><%= @species["name"] %></h1>
	<ul>
		<li>Classification: <%= @species["classification"]%></li>
		<li>Designation: <%= @species["designation"]%></li>
		<li>Average Height: <%= @species["average_height"]%></li>
		<li>Skin Colors: <%= @species["skin_color"]%></li>
		<li>Hair Colors: <%= @species["hair_colors"]%></li>
		<li>Eye Colors: <%= @species["eye_colors"]%></li>
		<li>Average Lifespan: <%= @species["average_lifespan"]%></li>
		<li>Homeworld: <%= @species["homworld"]%></li>
		<li>Language: <%= @species["langage"]%></li>
	</ul>




